@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Get started with,</h2>
            <ul>
                @foreach (var name in ViewBag.FrameNames)
                {
                    <li>@name </li>
                }
            </ul>
        </section>
    </div>
</main>